@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.primary-bg {
    background-color: rgba(255, 144, 14, 0.1);
}

/*Dark-01*/
.primary-color {
    color: rgb(19, 19, 19);
}

/*Dark-03*/
.secondary-color {
    color: rgb(114, 114, 114);
}

.display-flex {
    display: flex;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    background: rgb(255, 144, 14);
}

main,
footer {
    max-width: 75%;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

/*navigation bar styles*/

.nav-bar {
    max-width: 75%;
    margin: 0 auto;
    padding: 50px 0px;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-items {
    list-style: none;
    gap: 30px;
}
.nav-item {
    text-align: center;

}
.nav-link {
    text-decoration: none;
    color: rgb(114, 114, 114);
}

/*banner-styles*/
.banner {
    max-width: 75%;
    margin: 0 auto;
}
.banner-content {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    margin: 20px 0px;
}

.banner-profile-pic {
    width: 100%;
}

/*our feature section styles*/

.features {
    align-items: center;
}

.group-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px
}

.our-features {
    margin-left: 70px;
}

#feature {
    color: rgb(255, 144, 14);
}

.feature-description {
    margin: 40px 0;
}

/*love and enjoy section*/
.enjoy-love{
  gap: 146px;
}
#section-title {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
    margin: 10px 0;
}
.section-description {
    margin-bottom: 20px;
}

.card-content {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
    margin-bottom: 10px;
}

.card-title {
    margin-bottom: 10px;
    font-size: 1.25rem;
}
.architect-image{
    width: 50%;
}

.btn-secondary {
    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding: 35px 32px;
    margin-left: -80px;
    margin-top: -100px;  
}

#experience-years{
    font-size: 4rem;
    font-weight: 700;
    
}

/*some-facts section*/

.facts-container {
    display: grid;
    row-gap: 20px;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 50px 20px;
}

.stat-contant {
    max-width: 241px;
    height: 241px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
}

/*sponsors section*/
.sponsors-container {
    flex-direction: column;
    align-items: center;
}

.sponsors-content {
    display: grid;
    gap: 30px;
    text-align: center;
}

.companies-name {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;   
}

.companies-name img {
    filter: grayscale(100%);
}

/*footer section*/
.footer {
    border-radius: 8px;
    margin-top: 40px;
}

.policy-section {
    padding: 40px 25%;
}



/*responsive meadia query*/

/*for mobile devices*/

@media screen and (max-width: 576px) {
    .btn-primary {
        font-size: 1rem;
        font-weight: 600;
        border-radius: 8px;
        border: none;
        padding: 15px 20px;
    }

    .nav-bar,
    .nav-items,
    .features ,
    .enjoy-love
    {

        flex-direction: column;
    }

    .brand-name {
        margin-bottom: 20px;
        font-size: 1.8rem;
        font-weight: 600;

    }

    .banner-title {
        font-size: 2rem;
        font-weight: 600;
    }

    .group-images {
        grid-template-columns: repeat(1, 1fr);

    }

    .our-features {
        margin-left: 0px;
        margin-top: 40px;
    }

    .stats-container {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0px;
    }

    .facts-container {
        margin-left: 0px;
    }

    .companies-name {
        grid-template-columns: repeat(1, 1fr);

    }
    .architect-image {
        width: 100%;
     }
     .architect-image img{
        width: 100%;
        
     }
    .btn-secondary{
        font-size: 1rem;
        font-weight: 500;
        color: white;
        padding: 25px 32px;
        margin-left: -30px;
        margin-top: -60px;
       
    }
    #experience-years{
        font-size: 1.5rem;
        font-weight: 700;
        
    }





}

/*for medium size devices*/

@media screen and (min-width: 577px) and (max-width: 992px) {
    .brand-name {
        margin-bottom: 20px;
        font-size: 1.8rem;
        font-weight: 600;

    }

    .banner-title {
        font-size: 2rem;
        font-weight: 600;
    }

    .nav-items {
        gap: 20px;
    }

    .features ,.enjoy-love{
        flex-direction: column;
    }

    .group-images {
        grid-template-columns: repeat(1, 1fr);

    }

    .our-features {
        margin-left: 0px;
        margin-top: 40px;
    }

    .stats-container {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 0px;
    }

    .companies-name {
        grid-template-columns: repeat(2, 1fr);

    }
    .architect-image img{
        width:100%
    }
    .btn-secondary{
        font-size: 1rem;
        font-weight: 500;
        color: white;
        padding: 25px 32px;
        margin-left: -30px;
        margin-top: -60px;
    }
    #experience-years{
        font-size: 1.5rem;
        font-weight: 700;
        
    }

}